@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather:ital,wght@1,300&display=swap');

*,*::before,
*::after {
    box-sizing: content-box;
} 

body {
   background-image: url('../images/background-image.jpg');
   background-size: cover;

}
#question-box{
    justify-content: center;
    align-items: center;

    
}

#question, #start-btn {
    font-family: 'Karla', sans-serif;
}

.btn, .back-btn{
    font-family: 'Merriweather', serif;
}




