@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather:ital,wght@1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 125%;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    color: rgb(126, 50, 23);
}

.box {
    text-align: center;
    width: 70vw;
    max-width: 70vw;
    background-color: rgba(242, 206, 174, 0.80);
    border-radius: 5px;
    border-color: rgba(191, 75, 33, 0.80);
    padding: 1em;
    box-shadow: 0 0 10pc 2px;
}

#opt-btns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1,
#question,
#start-btn,
#restart-btn {
    font-family: 'Karla', sans-serif;
}


p,
.btn,
#opt-btns {
    font-family: 'Merriweather', serif;
}

.hide {
    display: none;
}

#restart-btn {
    margin-top: 1em;
}

